<div id="navbar" class="navbar navbar-default">
  <script type="text/javascript">
    try{ace.settings.check('navbar' , 'fixed')}catch(e){}
  </script>

  <div class="navbar-container" id="navbar-container">
    <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
      <span class="sr-only">Toggle sidebar</span>

      <span class="icon-bar"></span>

      <span class="icon-bar"></span>

      <span class="icon-bar"></span>
    </button>

    <div class="navbar-header pull-left">
      <a href="index.html" class="navbar-brand">
        <small>
          <!-- <i class="fa fa-leaf"></i> -->
          <img src="/public/imgs/smalllogoico.ico" alt="">
          醉翁酒品
        </small>
      </a>
    </div>


    <!-- 头部右侧提示条 -->
    <div class="navbar-buttons navbar-header pull-right" role="navigation">
      <ul class="nav ace-nav">


        <li class="purple">
          <a data-toggle="dropdown" class="dropdown-toggle" href="#">
            <i class="ace-icon fa fa-bell icon-animated-bell"></i>
            <span class="badge badge-important">3</span>
          </a>

          <ul class="dropdown-menu-right dropdown-navbar navbar-pink dropdown-menu dropdown-caret dropdown-close">
            <li class="dropdown-header">
              <i class="ace-icon fa fa-exclamation-triangle"></i>
              3 条消息
            </li>

            <li class="dropdown-content">
              <ul class="dropdown-menu dropdown-navbar navbar-pink">
                <li>
                  <a href="#">
                    <div class="clearfix">
                      <span class="pull-left">
                        <i class="btn btn-xs no-hover btn-pink fa fa-comment"></i>
                        新会话
                      </span>
                      <span class="pull-right badge badge-info">+12</span>
                    </div>
                  </a>
                </li>

                <li>
                  <a href="#">
                    <i class="btn btn-xs btn-primary fa fa-user"></i>
                    刘益婷加入了管理员工作...
                  </a>
                </li>

                <li>
                  <a href="#">
                    <div class="clearfix">
                      <span class="pull-left">
                        <i class="btn btn-xs no-hover btn-success fa fa-shopping-cart"></i>
                        新订单
                      </span>
                      <span class="pull-right badge badge-success">+8</span>
                    </div>
                  </a>
                </li>
              </ul>
            </li>

            <li class="dropdown-footer">
              <a href="#">
                查看 所有 消息
                <i class="ace-icon fa fa-arrow-right"></i>
              </a>
            </li>
          </ul>
        </li>

        <li class="green">
          <a data-toggle="dropdown" class="dropdown-toggle" href="#">
            <i class="ace-icon fa fa-envelope icon-animated-vertical"></i>
            <span class="badge badge-success">5</span>
          </a>

          <ul class="dropdown-menu-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
            <li class="dropdown-header">
              <i class="ace-icon fa fa-envelope-o"></i>
              4 条站内信
            </li>

            <li class="dropdown-content">
              <ul class="dropdown-menu dropdown-navbar">
                <li>
                  <a href="#" class="clearfix">
                    <img src="/assets/avatars/avatar.png" class="msg-photo" alt="Alex's Avatar" />
                    <span class="msg-body">
                      <span class="msg-title">
                        <span class="blue">刘益婷:</span>
                        你的毕设什么时候能搞完？...
                      </span>

                      <span class="msg-time">
                        <i class="ace-icon fa fa-clock-o"></i>
                        <span>2 分钟 前</span>
                      </span>
                    </span>
                  </a>
                </li>

                <li>
                  <a href="#" class="clearfix">
                    <img src="/assets/avatars/avatar3.png" class="msg-photo" alt="Susan's Avatar" />
                    <span class="msg-body">
                      <span class="msg-title">
                        <span class="blue">高健:</span>
                        快点搞完毕设叫我参考一下 ...
                      </span>

                      <span class="msg-time">
                        <i class="ace-icon fa fa-clock-o"></i>
                        <span>20 分钟 前</span>
                      </span>
                    </span>
                  </a>
                </li>

                <li>
                  <a href="#" class="clearfix">
                    <img src="/assets/avatars/avatar4.png" class="msg-photo" alt="Bob's Avatar" />
                    <span class="msg-body">
                      <span class="msg-title">
                        <span class="blue">指导老师:</span>
                        别玩了赶紧搞毕设 ...
                      </span>

                      <span class="msg-time">
                        <i class="ace-icon fa fa-clock-o"></i>
                        <span>3:15 pm</span>
                      </span>
                    </span>
                  </a>
                </li>

                <li>
                  <a href="#" class="clearfix">
                    <img src="/assets/avatars/avatar2.png" class="msg-photo" alt="Kate's Avatar" />
                    <span class="msg-body">
                      <span class="msg-title">
                        <span class="blue">辅导员:</span>
                        你的三方什么时候签，得抓紧了啊~
                      </span>

                      <span class="msg-time">
                        <i class="ace-icon fa fa-clock-o"></i>
                        <span>1:33 pm</span>
                      </span>
                    </span>
                  </a>
                </li>
              </ul>
            </li>

            <li class="dropdown-footer">
              <a href="inbox.html">
                查看 所有 站内信
                <i class="ace-icon fa fa-arrow-right"></i>
              </a>
            </li>
          </ul>
        </li>

        <li class="light-blue">
          <a data-toggle="dropdown" href="#" class="dropdown-toggle">
            <img class="nav-user-photo" src="/assets/avatars/user.jpg" alt="Jason's Photo" />
            <span class="user-info">
              <small>欢迎,</small>
              {% block username %}leon{% endblock %}
            </span>

            <i class="ace-icon fa fa-caret-down"></i>
          </a>

          <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
            <li>
              <a href="#">
                <i class="ace-icon fa fa-cog"></i>
                设置
              </a>
            </li>

            <li>
              <a href="profile.html">
                <i class="ace-icon fa fa-user"></i>
                资料
              </a>
            </li>

            <li class="divider"></li>

            <li>
              <a href="#">
                <i class="ace-icon fa fa-power-off"></i>
                注销
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div><!-- /.navbar-container -->
</div>